<div align="center">
<h1> Editing <%= @user.dogs.name %> </h1>
<br><%= link_to "Back to User Dashboard", user_path(@user.user_id) %><br>

<br><%= form_with url: user_dogs_path(@user.user_id), method: :patch do |f| %>
  <%= f.label :name, 'Name:' %>
  <%= f.text_field :name, :value => @user.dogs.name %>
  <%= f.label :breed, 'Breed:' %>
  <%= f.text_field :breed, :value => @user.dogs.breed %>
  <%= f.label :age, 'Age:' %>
  <%= f.text_field :age, :value => @user.dogs.age %>
  <%= f.label :size, 'Size:' %>
  <%= f.select_field :size, :value => @user.dogs.size %>
  <%= f.label :neutered, 'Neutered:' %>
  <%= f.select_field :neutered, :value => @user.dogs.neutered %>
  <br>

  <br><%= f.submit 'Update' %>
<% end %>
</div>