<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      text-align: center; 
    }

    h1 {
      margin-top: 20px; 
      color: red;
      font_weight: bold;
    }
  </style>
</head>
<body>

<h1> Puppy Playdate </h1>

<h3> Please fill in your dogs information below. </h3>

<%= form_for @dog, url: add_dogs_path(@user.user_id), method: :post, local: true do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
  </div>

  <div>
    <%= f.label :breed %>
    <%= f.text_field :breed, required: true %>
  </div>

  <div>
    <%= f.label :age %>
    <%= f.number_field :age, required: true %>
  </div>

  <div>
    <%= f.label :size %>
    <%= f.select :size, ['Small', 'Medium', 'Large'], prompt: 'Select size', required: true %>
  </div>

  <div>
    <%= f.label :neutered %>
    <%= f.select :neutered, [['True', true], ['False', false]], prompt: 'Select neutered status', required: true %>
  </div>

  <div>
    <%= f.submit 'Create Dog' %>
  </div>
<% end %>

</body>
</html>