<h1> Editing <%= @user.name %>'s Profile </h1>
<br><%= link_to "Back to User Dashboard", user_path(@user) %><br>

<br><%= form_with url: update_user_path, method: :patch do |f| %>

  <%= f.label :full_name, 'First Name:' %>
  <%= f.text_field :first_name, :value => @user.first_name %>

  <%= f.label :full_name, 'Last Name:' %>
  <%= f.text_field :last_name, :value => @user.last_name %>

  <%= f.label :email, 'Email:' %>
  <%= f.text_field :email, :value => @user.email %>

  <%= f.label :password, 'Password:' %>
  <%= f.password_field :password, required: true %><br>

  <%= f.label :password_confirmation, 'Password Confirmation:' %>
  <%= f.password_field :password_confirmation, required: true %><br>

  <br><%= f.submit 'Save' %>
<% end %>
