<div id='login_form' align='center'>
  <h1>Existing Member Login</h1>
  <%= form_with url: login_path, method: :post do |f| %>
    <%= f.label :email, 'Email:' %>
    <%= f.text_field :email %>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password %><br><br>
    <%= f.submit 'Login' %>
  <% end %>
<body>
  <%= button_to 'Log In With GitHub', '/auth/github', data: { turbo: false }%>
  <%= session[:user_id] %>
</body>
</div>


  
