<div id="login_form" align="center">
  <h1>Existing Member Login</h1>
  <%= form_with url: login_path, method: :post do |f| %>
    <%= f.label :email, 'Email:' %>
    <%= f.text_field :email %>
    <%= f.label :name, 'Name:' %>
    <%= f.text_field :name %>
    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password %><br><br>
    <%= f.submit 'Login' %>
  <% end %>
</div>


<div id="oauth" align="center">
  <%= link_to "Login",
  "https://github.com/login/oauth/authorize?client_id=aae04c62b896b4d08290&scope=user" %>
</div>
