<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Existing Member Login</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      text-align: center;
      background-color: #f5f5f5;
      margin: 0;
      padding: 20px;
    }

    #login_form {
      max-width: 400px;
      margin: 0 auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      color: #e44d26;
      font-weight: bold;
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 8px;
      color: #333;
    }

    input {
      width: 100%;
      padding: 10px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
    }

    input[type="submit"], .google-login-button {
      background-color: #4caf50;
      color: #fff;
      border: none;
      padding: 12px 16px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 4px;
    }

    .google-login-button {
      background-color: #4285f4;
      margin-top: 10px;
    }
  </style>
</head>
<body>
<br/>
<div id="login_form">
  <h1>Existing Member Login</h1>
  <%= form_with url: login_path, method: :post do |f| %>
    <label for="email">Email:</label>
    <%= f.text_field :email, id: "email" %>
    <br/>
    <label for="name">Name:</label>
    <%= f.text_field :name, id: "name" %>
    <br/>
    <label for="password">Password:</label>
    <%= f.password_field :password, id: "password" %>

    <br><br>
    <%= f.submit 'Login' %>
  <% end %>

  <br>

  <%= button_to "Login with Google", class: "google-login-button" %>
</div>

</body>
</html>