<div id="create" align="center">
  <h1>Create an Account</h1>
  <%= form_with url: "/users", method: :post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %><br>
    <%= f.label :email %>
    <%= f.text_field :email, required: true %><br>
    <%= f.label :password %>
    <%= f.password_field :password, required: true %><br>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, required: true %><br>
    <%= f.submit "Create New User" %>
  <% end %>
</div>
