<h2><%= @user.name %>'s Dashboard</h2>

<br><%= link_to "Edit Profile" %>
<br><%= button_to "Log Out", %>
<br><%= button_to "Add Pet", %>
<br><%= button_to "View Pets", %>
<br><%= button_to "Discover Socials", %>