<h1>You've made it to the dashboard</h1>

<h3>Name: <%= @user.name %></h3>
<p>Email: <%= @user.email %></p><h2><%= @user.name %>'s Dashboard</h2>

<div id="dashboard_nav" >
  <p><%= button_to "Edit Profile", edit_user_path(@user.user_id), method: :get %></p>
  <p><%= button_to "Add New Dog", add_dog_path(@user.user_id) %></p>
  <p><%= button_to "View Pets", dogs_path(@user.user_id) %></p>
  <p><%= button_to "Discover Socials", socials_path, method: :get %></p>
</div>

